* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
   /* background-color:#c9d6ff;*/
   /* background: linear-gradient(to right,#e2e2e2,#778dd7);*/
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 8%;/*33px 9%*/
    background: transparent;
    border: 2px solid wheat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
    
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color:black;
}

.navlist {
    display: flex;
}

.navlist a {
    color:black;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.55s ease;
}

.navlist a:hover {
    border-bottom: 2px solid black;
    transform: translateX(8px);
}

#menu-icon {
    color: white;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;


}
section{
    padding: 0 10%;
}
.hero-text p{
    color: black;
    font-size: 30px;
    line-height: 1.1;
    margin-bottom: 40px;
}

.hero-imag img{
    width: 500px; /*500px*/
    height: auto;
    transition: 1s;
    border-radius: 10px;
    border: 2px solid wheat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}
.text{
   margin-bottom: 10px;
    
}


#type-text{
    color:red;
    font-weight: 700;
   
}
.hero-text-a{
    display: inline-block;
    margin-top: 20px;
    color:black;
    border: 2px solid wheat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #cdeb0a;
    
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 1s;
}
.hero-text-a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}
/*.hero-text2{
    padding: 10px;
}

.p2{
    padding: 20px;
    margin-top: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    
}*/
.icon-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
   
   
}
.icon-box{
    background-color:#778dd7;
    transition: 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.icons i{
    color: black;
    padding:0.3rem 0.8rem ;
    border-radius:10px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #dfe9df;
    margin: 0 10px;
    transition: 1s;
}

.icons i:hover{
    background:#07001f ;
    font-size:1.6rem ;
    
}
.scroll-down{
    position: absolute; 
    bottom:10%;
    right: 3%;
}
.scroll-down i{
    display: block;
    padding:12px ;
    font-size: 25px;
    color:width;
    background: #c7f306;
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll-down i:hover{
   transform: translateY(-5px);
}



/* we are make a responive to web page*/


@media(max-width:1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    

}
@media(max-width:1460px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
   
    
}
@media(max-width:1340px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
    
}
@media(max-width:1195px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
    .hero-imag img{
        width: 450px; /*500px*/
        height: auto;
        transition: 1s;
        border-radius: 10px;
        border: 2px solid wheat;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       
    }
    .icon-box{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 2px solid black;
        padding-top: 18px;
        padding-bottom: 20px;
        border: none;
       
       
    }
    .icon-box{
        background-color:#778dd7;
        transition: 1s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .p{
        font-size: 12px;
    }
    .icons i{
        color: black;
        padding:0.3rem 0.8rem ;
        border-radius:10px;
        font-size: 1.2rem;
        cursor: pointer;
        border: 2px solid #dfe9df;
        margin: 0 10px;
        transition: 1s;
    }
    
    .icons i:hover{
        background:#07001f ;
        font-size:1.6rem ;
        
    }
    
}
@media(max-width:990px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
    #menu-icon{
        display: block;
        color:black;
    }
    .navlist{
        position: absolute;
        top:100%;
        right:-100% ;
        width: 130px;
        height:25vh;
        background:transparent;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
        border: 2px solid wheat;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
    }
    .navlist a{
        display: block;
        margin:7px 0 ;
        margin-left: 0;
        font-size: 10px;
    }
    .navlist.open{
        right: 0;
    }
    .logo {
        font-size: 20px;
        font-weight: 700;
        color:black;
    }
    .hero-imag img{
        width: 350px; /*500px*/
        height: auto;
        transition: 1s;
        border-radius: 10px;
        border: 2px solid wheat;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       
    }
    .text{
        margin-bottom: 10px;
        font-size: 12px;
         
    }
    #type-text{
        color:red;
        font-size: 12px;
        font-weight: 600;
        
       
    }
    .hero-text-a{
        display: inline-block;
        margin-top: 20px;
        color:black;
        border: 2px solid wheat;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #cdeb0a;
        
        padding: 10px 20px;
        line-height: 1.4;
        font-size: 10px;
        font-weight: 700;
        border-radius: 30px;
        text-transform: uppercase;
        transition: 1s;
    }
    .hero-text-a:hover{
        background: transparent;
        border: 1px solid white;
        transform: translateX(8px);
    }
    .icon-box{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 2px solid black;
        padding-top: 18px;
        padding-bottom: 20px;
        border: none;
       
       
    }
    .icon-box{
        background-color:#778dd7;
        transition: 1s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .p{
        font-size: 9px;
    }
    .icons i{
        color: black;
        padding:0.0rem 0.2rem ;
        border-radius:10px;
        font-size: 1.1rem;
        cursor: pointer;
        border: 2px solid #dfe9df;
        margin: 0 10px;
        transition: 1s;
    }
    
    .icons i:hover{
        background:#07001f ;
        font-size:1.6rem ;
        
    }
    .icon-text{
        display:block;
       
    }
    
}

@media(max-width:680px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
    .logo {
        font-size: 15px;
        font-weight: 700;
        color:black;
    }
    .hero-imag img{
        width: 290px; /*500px*/
        height: auto;
        transition: 1s;
        border-radius: 10px;
        border: 2px solid wheat;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       
    }
    .text{
        margin-bottom: 8px;
        font-size: 10px;
         
    }
    #type-text{
        color:red;
        font-size: 9px;
        font-weight: 500;
        
       
    }
    .hero-text-a{
        display: inline-block;
        margin-top: 20px;
        color:black;
        border: 2px solid wheat;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #cdeb0a;
        
        padding: 10px 20px;
        line-height: 1.4;
        font-size: 8px;
        font-weight: 700;
        border-radius: 30px;
        text-transform: uppercase;
        transition: 1s;
    }
    .hero-text-a:hover{
        background: transparent;
        border: 1px solid white;
        transform: translateX(8px);
    }
    .scroll-down{
        position: absolute; 
        bottom:10%;
        right: 3%;
    }
    .scroll-down i{
        display: block;
        padding:10px ;
        font-size: 20px;
        color:width;
        background: #c7f306;
        border-radius: 30px;
        transition: all .50s ease;
    }
    .scroll-down i:hover{
       transform: translateY(-5px);
    }
    .icon-text{
        display:block;
    }
    .icon-text{
        display:block;
        padding: 5px;
    }
    .icons i{
        color: black;
        padding:0.2rem 0.2rem ;
        border-radius:10px;
        font-size: 0.5rem;
        cursor: pointer;
        border: 2px solid #dfe9df;
        margin: 0 7px;
        transition: 1s;
        overflow: hidden;
    }
    

   
    
}



@media(max-width:480px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
    .logo {
        font-size: 15px;
        font-weight: 700;
        color:black;
    }
    .hero-imag img{
        width: 200px; /*500px*/
        height: auto;
        transition: 1s;
        border-radius: 10px;
        border: 2px solid wheat;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       
    }
    .text{
        margin-bottom: 8px;
        font-size: 8px;
         
    }
    #type-text{
        color:red;
        font-size: 8px;
        font-weight: 500;
        
       
    }
    .hero-text-a{
        display: inline-block;
        margin-top: 10px;
        color:black;
        border: 2px solid wheat;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #cdeb0a;
        
        padding: 9px 19px;
        line-height: 1.2;
        font-size: 10px;
        font-weight: 600;
        border-radius: 30px;
        text-transform: uppercase;
        transition: 1s;
    }
    .hero-text-a:hover{
        background: transparent;
        border: 1px solid white;
        transform: translateX(8px);
    }
    .scroll-down{
        position: absolute; 
        bottom:10%;
        right: 3%;
    }
    .scroll-down i{
        display: block;
        padding:10px ;
        font-size: 20px;
        color:width;
        background: #c7f306;
        border-radius: 30px;
        transition: all .50s ease;
    }
    .scroll-down i:hover{
       transform: translateY(-5px);
    }
    .icon-text{
        display:block;
    }
    .icon-text{
        display:block;
        padding: 5px;
    }
   
    .icons i{
        color: black;
        padding:0.2rem 0.2rem ;
        border-radius:10px;
        font-size: 0.5rem;
        cursor: pointer;
        border: 2px solid #dfe9df;
        margin: 0 7px;
        transition: 1s;
        overflow: hidden;
    }
    .icons a{
        padding: 2px;
    }
    .icons i:hover{
        background:#07001f ;
        font-size:1.0rem ;
        
    }
   
    
}




